{{ define "main"}}
<head>
</head>
<body>

<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
  <h1>Fixed Top Navigation Bar</h1>
  <h2>Scroll this page to see the effect</h2>
  <h2>The navigation bar will stay at the top of the page while scrolling</h2>

  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
</div>

<div id="container">
  <div class="row">
      <div class="name">Player1</div><div class="score">430</div>
  </div>
  
  <div class="row">
      <div class="name">Player2</div><div class="score">580</div>
  </div>
  
  <div class="row">
      <div class="name">Player3</div><div class="score">310</div>
  </div>
  
  <div class="row">
      <div class="name">Player4</div><div class="score">640</div>
  </div>
  
  <div class="row">
      <div class="name">Player5</div><div class="score">495</div>
  </div>
</div>
</body>
{{ end }}