{{ define "main"}}
<div id="page-container">
    <div class="bg-gray-50 text-gray-600 px-6 lg:px-8 py-12">
        <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-6 lg:gap-x-8">
        <div class="bg-gray-200 px-6 pt-20 lg:pt-32 xl:pt-48 pb-6 rounded">
            <h3 class="font-semibold text-lg mb-2">Collection of textile</h3>
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found It showed transformed.</p>
        </div>
    
        <div class="bg-gray-200 px-6 pt-20 lg:pt-32 xl:pt-48 pb-6 rounded">
            <h3 class="font-semibold text-lg mb-2">How about sleep a little bit</h3>
            <p>Doing business like this takes much more effort than doing your own business at home, on top.</p>
        </div>
        </div>
    </div>
</div>
<!-- COVID 19 data -->
<div class="display-4 text-center">Latest COVID 19 statistics</div>
<div class="APIContainer">
    <div class="covidInput">
    <p>Select a country:</p>
    <select class="form-control" id="countries">
        <option>Select a country</option>
    </select>
    </div>
    <hr class="mySeparator">
    <div class="text-center">
    <p class="marginTopBottom" id="covidNewConfirmed">New confirmed cases: /</p>
    <p class="marginTopBottom" id="covidTotalConfirmed">Total confirmed cases: /</p>
    <p class="marginTopBottom" id="covidNewDeaths">New deaths: /</p>
    <p class="marginTopBottom" id="covidTotalDeaths">Total deaths: /</p>
    <p class="marginTopBottom" id="covidLastUpdate">Last updated: /</p>
    </div>
</div>
<script>
    let covid19data;

(function onLoad()
{
    // set a function for each button
    setButtonFunctions();

    // fetch from each API when the page loads
    getLatestCOVID19Data();
})();

function setButtonFunctions()
{
    document.getElementById('countries').onchange = function() {
        const selectedValue = document.getElementById('countries').value;
        const countryData = covid19data.filter(c => c.country == selectedValue)[0];

        // display data
        const newConfirmed = document.getElementById('covidNewConfirmed');
        const totalConfirmed = document.getElementById('covidTotalConfirmed');
        const covidNewDeaths = document.getElementById('covidNewDeaths');
        const covidTotalDeaths = document.getElementById('covidTotalDeaths');
        const lastUpdated = document.getElementById('covidLastUpdate');

        (countryData.cases.new) ? newConfirmed.innerHTML = 'New confirmed cases: ' + countryData.cases.new : newConfirmed.innerHTML = 'New confirmed cases: 0';
        (countryData.cases.total) ? totalConfirmed.innerHTML = 'Total confirmed cases: ' + countryData.cases.total : totalConfirmed.innerHTML = 'Total confirmed cases: 0';
        (countryData.deaths.new) ? covidNewDeaths.innerHTML = 'New deaths: ' + countryData.deaths.new : covidNewDeaths.innerHTML = 'New deaths: 0';
        (countryData.deaths.total) ? covidTotalDeaths.innerHTML = 'Total deaths: ' + countryData.deaths.total : covidTotalDeaths.innerHTML = 'Total deaths: 0';
        lastUpdated.innerHTML = 'Last updated: ' + countryData.day;
    };
}
// COVID 19 Data
async function getLatestCOVID19Data()
{
    await fetch("https://covid-193.p.rapidapi.com/statistics", {
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "covid-193.p.rapidapi.com",
            "x-rapidapi-key": "43fa1b0ac7mshb319b300365de5ap1a70ccjsnf784600171fb",
        }
    })
    .then(response => response.json())
    .then(response => {
        console.log("COVID 19 API object:");
        console.log(response);
        console.log("\n");

        // add all countries to select element
        response.response.forEach(c => {
            const option = document.createElement('option');
            option.innerHTML = c.country;
            document.getElementById('countries').appendChild(option);
        })

        // save covid data to global variable
        covid19data = response.response;
    })
    .catch(err => {
        console.log(err);
    });
}
</script>
{{ end }}