<!-- Dit is de footer die op elke pagina automatisch word gezet -->
<div class="footer-basic bg-gray-200"> 
    <footer>
        <div class="social"><a href="https://www.instagram.com/robin.0223/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/add/robinjwz0223?share_id=NkYxRDc2&locale=nl_NL" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter" target="_blank"></i></a><a href="#"><i class="icon ion-social-facebook" target="_blank"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/diensten">Diensten</a></li>
            <li class="list-inline-item"><a href="/overons">Over Ons</a></li>
            <li class="list-inline-item"><a href="/contact">Contact</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">SubNetworks © 2021</p>
    </footer>
</div> <!-- Stylesheet die de footer gebruikt. -->