{{ define "main" }}
<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-6">
    <div class="max-w-screen-lg mx-auto">
      <h2 class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-medium text-center">Our portfolio with our work</h2>
      <p class="text-xl lg:text-2xl text-gray-600 text-center mt-2">The quick, brown fox jumps over a lazy dog.</p>
    </div>
</div>
  
<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 py-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-6 lg:gap-x-8">
      <div class="bg-gray-200 px-12 py-20 rounded">
        <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-gray-700 font-medium mb-6">Save money with our new like Service</h2>
        <p class="text-lg md:text-xl">One morning, when Gregor Samsa woke from troubled dreams, he found It showed transformed.</p>
      </div>
      <div class="bg-gray-200 px-12 py-20 rounded">
        <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-gray-700 font-medium mb-6">Wow look at me, how nice, how bold</h2>
        <p class="text-lg md:text-xl">One morning, when Gregor Samsa woke from troubled dreams, he found It showed transformed.</p>
      </div>
    </div>
</div>  
{{ end }}