{{ define "main" }}
<div id="page-container">
  <div id="container">
      <div class="row">
        <div class="name">Player1</div><div class="score">210</div>
      </div>
    
      <div class="row">
        <div class="name">Player2</div><div class="score">550</div>
      </div>
    
      <div class="row">
        <div class="name">Player3</div><div class="score">240</div>
      </div>
    
      <div class="row">
        <div class="name">Player4</div><div class="score">890</div>
      </div>
    
      <div class="row">
        <div class="name">Player5</div><div class="score">125</div>
      </div>
  </div>
</div>
{{ end }}